<% content_for :banner do -%>
  <ul id="homepage_cycle">
    <% @cycle_images.each do |cycle_image| %>
      <li>
        <%= image_tag(cycle_image.image.url) %>
      </li>
    <% end %>
  </ul>
<% end -%>
<script>
  $('#homepage_cycle').cycle();
</script>
